/* GLOBAL VARIABLES */

:root {
  --color-background: #92A8D1;
  --transition-time: .4s;
}

.App {
  background: var(--color-background);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 10px;


  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 0.5fr;
  grid-template-areas: 
    "header"
    "main"
    "footer"
}

main {

  
}



