/* GLOBAL VARIABLES */

:root {
  /* COLORS */
  --color-background-linker: #92A8D1;
  --color-background-linker: #66A182;
  --color-background-duplikator: #66A182;
  --color-background-duplikator: rgb(27, 38, 44);

  /* TEXTAREA */
  --text-area-box-shadow: red;
  --text-area-width: 90%;
  --text-area-background: white;
  --text-area-border-radius-size: 20px;

  /* BUTTON */
  --button-border-radius-size: 20px;

  /* HEADER */
  --header-text-color: white;
  --header-font-size: 15px;

  /* FOOTER */
  --footer-size: 10px;
  --footer-text-color: white;

  /* CSS EFFECTS */
  --switch-transition-time: .4s;

  /* ------------ DUPLIKATOR ------------ */
  /* POPUP */
  --popup-color-background: white;
  --popup-width: 50vw;
  --popup-text-color: black;

}